<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AutomationExerciseSuite" parallel="tests" thread-count="2">

    <test name="Login Tests">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>

    <test name="Add To Cart Tests">
        <classes>
            <class name="tests.AddToCartFromHomeTest"/>
            <class name="tests.AddToCartFromProductsTest"/>
        </classes>
    </test>

    <test name="Contact Us Test">
        <classes>
            <class name="tests.ContactUsTest"/>
        </classes>
    </test>

    <test name="Order Tests">
        <classes>
            <class name="tests.PlaceOrderRegisterWhileCheckoutTest"/>
            <class name="tests.PlaceOrderRegisterBeforeCheckoutTest"/>
            <class name="tests.PlaceOrderLoginBeforeCheckoutTest"/>
        </classes>
    </test>

    <test name="Remove From Cart">
        <classes>
            <class name="tests.RemoveProductsFromCartTest"/>
        </classes>
    </test>

</suite>